include ../include/_header.pug

div.container-fluid
    div.row
        
        include ../include/_navbar.pug
        div.container.py-3.col-md-9.col-lg-10
            main
                header
                    div.pricing-header.p-3.pb-md-4.mx-auto.text-center
                        h5.display-6.fw-normal.text-body-emphasis Patients Status
                        p.fs-6.text-body-secondary Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.

    
    
                    div.row.row-cols-1.row-cols-md-4.mb-3.text-center
                        div.col
                            div.card.mb-4.rounded-3.shadow-sm
                                div.card-header.py-3
                                    h5.my-0.fw-normal New Patient
                                
                                div.card-body
                                    h1.card-title.pricing-card-title.text-info 10
                                
                                button.w-100.btn.btn-md.btn-outline-primary(type="button") View Report
                                
                        div.col
                            div.card.mb-4.rounded-3.shadow-sm
                                div.card-header.py-3
                                    h5.my-0.fw-normal Established Patient
                                
                                div.card-body
                                    h1.card-title.pricing-card-title.text-success 15
                            
                                button.w-100.btn.btn-md.btn-outline-primary(type="button") View Report
                                
                        div.col
                            div.card.mb-4.rounded-3.shadow-sm
                                div.card-header.py-3
                                    h5.my-0.fw-normal Outpatient
                                
                                div.card-body
                                    h1.card-title.pricing-card-title.text-warning 29
                            
                                button.w-100.btn.btn-md.btn-outline-primary(type="button") View Report
                                
                        div.col
                            div.card.mb-4.rounded-3.shadow-sm
                                div.card-header.py-3
                                    h5.my-0.fw-normal Inpatient
                                
                                div.card-body
                                    h1.card-title.pricing-card-title.text-danger 29
                                
                                button.w-100.btn.btn-md.btn-outline-primary(type="button") View Report
                                    

                hr

                header
                    div.pricing-header.p-3.pb-md-4.mx-auto.text-center
                        h5.display-6.fw-normal.text-body-emphasis Doctors Status
                        p.fs-6.text-body-secondary Quickly build an effective pricing table for your potential customers with this Bootstrap example. It’s built with default Bootstrap components and utilities with little customization.
            
            
                    div.row.row-cols-1.row-cols-md-2.mb-3.text-center
                        
                        div.col
                            div.card.mb-4.rounded-3.shadow-sm
                                div.card-header.py-3
                                    h5.my-0.fw-normal On-duty
                                
                                div.card-body
                                    h1.card-title.pricing-card-title.text-warning 29
                                
                                button.w-100.btn.btn-md.btn-outline-primary(type="button") View Report
                                
                        div.col
                            div.card.mb-4.rounded-3.shadow-sm
                                div.card-header.py-3
                                    h5.my-0.fw-normal Off-duty
                                
                                div.card-body
                                    h1.card-title.pricing-card-title.text-danger 29
                                
                                button.w-100.btn.btn-md.btn-outline-primary(type="button") View Report
                                