include ../include/_header.pug

main.container
    div.py-5.text-center
        h4 Physician Registration Form
         
    div.row.g-5
        div.col-md-12.col-lg-12
           
            form.needs-validation.was-validated#registerphysician(action="/api/physician" method="POST" novalidate="")
                div.col-sm-12
                    label(for="firstName").form-label License Number:
                    input(type="text" placeholder="" value="" required="" name="license").form-control#license
                    div.invalid-feedback
                        | Valid License is required.
                  
                div.row.g-3
                    div.col-sm-6
                        label(for="firstName").form-label First name
                        input(type="text" placeholder="" value="" required="" name="firstname").form-control#firstName
                        div.invalid-feedback
                            | Valid first name is required.
                 
                    div.col-sm-6
                        label(for="lastName").form-label Last name
                        input(type="text" placeholder="" value="" required="" name="lastname").form-control#lastName
                        div.invalid-feedback
                            | Valid last name is required.
    
                    div.col-md-4
                        label(for="Gender").form-label Gender
                        select.form-select#Gender( name="gender" required="")
                            option(value="") Choose...
                            option(value="Male") Male
                            option(value="Female") Female
                   
                        div.invalid-feedback
                            | Please select a valid Gender.
    
                    div.col-md-4
                        label(for="Specialty").form-label Specialty
                        input(type="text" name="specialty" placeholder="" required="").form-control#Specialty
                        div.invalid-feedback
                            | Specialty is required.
                 

                    div.col-md-4
                        label(for="Contact_number").form-label Contact Number
                        input(type="text" name="cnumber" placeholder="" required="").form-control#Contact_number
                        div.invalid-feedback
                            | Contact Number is required.
    
                    hr.my-4

                    div.col-sm-6
                        label(for="username").form-label Username
                        input(type="text" placeholder="" name="username").form-control#username
                        div.invalid-feedback
                            | username is required.
                 
                    div.col-sm-6
                        label(for="password").form-label Password
                        input(type="password" placeholder="" name="password" required="").form-control#password
                        div.invalid-feedback
                            | Password is required.
                    hr.my-4
    
                button.w-100.btn.btn-primary.btn-md(type="submit" name="submit") Register

script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer")
script(src="js/physicians.js")